<ion-view title="{{game.name}}">
	<ion-content has-header="true" padding="true" ng-class="{'scrollable-night': nightmode()}">

		<table id="playerViewTable">
			<tr class="indicatorTr">
		    	<td class="selectingCard" ng-repeat="player in getFirstRowOfPlayers()" ng-class="{isCzar: player.isCzar, selectedCard: player.selectedWhiteCardId !== null}">
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getFirstRowOfPlayers()">
				    {{player.name}}
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getFirstRowOfPlayers()">
				    {{player.points}}
				</td>
			</tr>
		</table>
		<table id="playerViewTable" ng-show="isTwoRows()">
			<tr class="indicatorTr">
		    	<td class="selectingCard" ng-repeat="player in getLastRowOfPlayers()" ng-class="{isCzar: player.isCzar, selectedCard: player.selectedWhiteCardId !== null}">
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getLastRowOfPlayers()">
				    {{player.name}}
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getLastRowOfPlayers()">
				    {{player.points}}
				</td>
			</tr>
		</table>



		<div class="fb-basic fb-button fb-name-button" ng-show="showStartGameButton()" ng-click="startGame()">Start game</div>

		<div class="card black-card" ng-show="game.currentBlackCard !== ''" ng-class="{'black-card-night': nightmode()}">
			{{game.currentBlackCard}}
		</div>

		<div class="notification" ng-show="notificationIsCzar()">
			You are Czar
		</div>

		<div class="notification" ng-show="notificationSelectCard()">
			Click a card to select it
		</div>

		<div class="notification" ng-show="notificationSendCard()">
			Click the card again to send it to the czar
		</div>

		<div class="notification" ng-show="notificationWaitingOnPlayers()">
			Waiting for other players to choose cards
		</div>

		<div class="notification" ng-show="notificationWaitingOnCzar()">
			Waiting for Czar to pick a winning card
		</div>

		<div class="notification" ng-show="notificationNextRound()">
			Next round will begin in {{countDown}} seconds
		</div>

		<div class="notification" ng-show="notificationWaitingOnPlayersToJoin()">
			Waiting for more players to join
		</div>



		<div id="card-container" ng-show="showCardBox()">
			<div class="card" ng-repeat="card in currentPlayer.cards" ng-click="selectCard(card)" ng-class="{clickedCard: card === selectedCard, selectedCard: card === sentCard}">
				{{card}}
			</div>
		</div>

		<div id="card-container" ng-show="showCzarCardBox()">
			<div class="card" ng-repeat="card in chosenWhiteCards" ng-click="selectCard(card)" ng-class="{clickedCard: card === selectedCard, selectedCard: card === sentCard}">
				{{card}}
			</div>
		</div>

		<div id="card-container" ng-show="showReviewCardBox()">
			<div class="card" ng-repeat="card in chosenWhiteCards" ng-class="{selectedCard: card === game.winningCardId}">
				{{card}}
			</div>
		</div>

	</ion-content>
</ion-view>