<ion-view title="{{game.name}}">
	<ion-content has-header="true" padding="true" delegate-handle="background">
		<ion-nav-buttons side="right">
			<button class="button icon ion-chatbubble" ng-hide="chat.unreadMsg" ng-click="chat.toggleChat()"></button>
			<button class="button icon ion-chatbubble-working unreadMsg" ng-show="chat.unreadMsg" ng-click="chat.toggleChat()"></button>
	    </ion-nav-buttons>

	    <ion-scroll id="chat-window" ng-show="chat.openedChat">
		    <ion-scroll id="chat-window-msgs" delegate-handle="chat">
		    	<div ng-repeat="chatMsg in game.chat">
		    		{{chatMsg.sender}}: {{chatMsg.msg}}
		    	</div>
		    	

		    </ion-scroll>
		    <div id="chat-window-write">
		    	<input ng-model="chat.msgWindow" type="text" ng-enter="chat.sendMsg()" placeholder="Enter message">
		    	<div class="ion-chevron-right" ng-click="chat.sendMsg()"></div>
		    </div>
		</ion-scroll>


		<table id="playerViewTable">
			<tr class="indicatorTr">
		    	<td class="selectingCard" ng-repeat="player in getFirstRowOfPlayers()" ng-class="{isCzar: player.isCzar, selectedCard: player.selectedWhiteCardId !== null}">
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getFirstRowOfPlayers()">
				    <i ng-show="canKick(player.id)" class="ion-close" ng-click="$event.preventDefault();kickPlayer(player.id)"></i> {{player.name}}
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getFirstRowOfPlayers()">
				    {{player.points}}
				</td>
			</tr>
		</table>
		<table id="playerViewTable" ng-show="isTwoRows()">
			<tr class="indicatorTr">
		    	<td class="selectingCard" ng-repeat="player in getLastRowOfPlayers()" ng-class="{isCzar: player.isCzar, selectedCard: player.selectedWhiteCardId !== null}">
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getLastRowOfPlayers()">
				    <i ng-show="canKick(player.id)" class="ion-close" ng-click="$event.preventDefault();kickPlayer(player.id)"></i> {{player.name}}
				</td>
			</tr>
			<tr class="playerViewTr">
		    	<td ng-repeat="player in getLastRowOfPlayers()">
				    {{player.points}}
				</td>
			</tr>
		</table>



		<div class="fb-basic fb-button fb-name-button" ng-show="showStartGameButton()" ng-click="startGame()">
			Start game
		</div>

		<div class="fb-basic fb-button fb-name-button" ng-show="showRestartGameButton()" ng-click="startGame()">
			Restart game
		</div>

		<div class="card black-card" ng-show="showBlackCard()">
			{{game.currentBlackCard}}
		</div>

		<div class="card black-card" ng-show="watchRoundEnd()">
			{{game.history[game.history.length-1].black}}
		</div>

		<div class="notification" ng-show="notificationIsCzar()">
			You are Czar
		</div>

		<div class="notification" ng-show="notificationSelectCard()">
			Click a card to select it
		</div>

		<div class="notification" ng-show="notificationSendWinningCard()">
			Click the card again to select it as the winning card
		</div>

		<div class="notification" ng-show="notificationSendCard()">
			Click the card again to send it to the czar
		</div>

		<div class="notification" ng-show="notificationWaitingOnPlayers()">
			Waiting for other players to choose cards
		</div>

		<div class="notification" ng-show="notificationWaitingOnCzar()">
			Waiting for Czar to pick a winning card
		</div>

		<div class="notification" ng-show="notificationNextRound()">
			Next round will begin in {{countDown}} seconds
		</div>

		<div class="notification" ng-show="notificationWaitingOnPlayersToJoin()">
			Waiting for more players to join
		</div>

		<div class="notification" ng-show="notificationWaitingOnPlayersToJoinOrStart()">
			Waiting for more players to join or for the owner to start the game
		</div>

		<div class="notification" ng-show="watchRoundEnd()">
			{{game.history[game.history.length-1].winner}} won the round
		</div>

		<div class="notification" ng-show="notificationGameIsOver()">
			Game is over and player {{game.winnerId}} won the game
		</div>

		<div class="notification" ng-show="notificationGameIsOver() && hasGameStarted()">
			Game has been restarted, press Skip review to continue
		</div>

		<div class="fb-basic fb-button fb-name-button" ng-show="showSkipReview()" ng-click="endRound()">
			Skip review
		</div>

		
		

		<!--To be implemented
		<div class="range">
		  <input type="range" name="playerAmount" ng-model="playerAmount">
		  {{playerAmount}}
		</div>-->

		<div id="card-container" ng-show="notificationGameIsOver()">
			<div class="relative-card" ng-repeat="round in game.history">
				Round {{$index+1}}, {{round.winner}} won the black card {{round.black}} with the white card {{round.white}}
			</div>
		</div>


		<div class="notification" ng-show="showExpansionsChoice()">
			Select the expansions the game should contain
		</div>


		<div class="half-card-container" ng-show="showExpansionsChoice()">
			<div class="half-card-test selectedCard">Selected</div>
			<div class="half-card-test">Not Selected</div>
		</div>
		<div class="half-card-container" ng-show="showExpansionsChoice()">
			
			<div class="half-card-test" ng-repeat="exp in expansions" ng-click="exp.chosen = !exp.chosen" ng-class="{selectedCard: exp.chosen}">
				{{exp.name}}
			</div>
		</div>

		<div class="card-container" ng-show="showCardBox()">
			<div class="card white-card" ng-repeat="card in currentPlayer.cards" ng-click="selectCard(card)" ng-class="{clickedCard: card === selectedCard, selectedCard: card === sentCard}">
				<span>{{card}}</span>
			</div>
		</div>

		<div class="card-container" ng-show="showCzarCardBox()">
			<div class="card" ng-repeat="card in game.chosenWhiteCards" ng-click="selectCard(card)" ng-class="{clickedCard: card === selectedCard, selectedCard: card === sentCard}">
				<span>{{card}}</span>
			</div>
		</div>

		<div class="card-container" ng-show="watchRoundEnd()">
			<div class="card" ng-repeat="card in game.reviewWhiteCards" ng-class="{selectedCard: card === game.history[game.history.length-1].white}">
				<span>{{card}}</span>
			</div>
		</div>

		<div class="card-container" ng-show="showReviewCardBox()">
			<div class="card" ng-repeat="card in game.chosenWhiteCards" ng-class="{selectedCard: card === game.winningCardId}">
				<span>{{card}}</span>
			</div>
		</div>



		<div id="notification"

	</ion-content>
</ion-view>