<ion-view title="Games">
	<ion-content padding="true" ng-class="{'scrollable-night': nightmode()}">
		<ion-nav-buttons side="right">
			<button class="button icon ion-plus" ng-click="createGame()"></button>
	    </ion-nav-buttons>


		<div class="game-menu-toggle-item">
			<!--<div class="test">Games you are in</div>
			<span class="ion-close-circled text-float-right"></span>-->
		
			<div class="gameListItem">Games you are in</div>
			<div class="gameListItem"><div class="text-float-right ion-chevron-down"></div></div>
		</div>
		
		<div class="list fb-listitem">
	    	<ion-item class="fb-listitem" ng-class="{'text-night': nightmode()}" ng-repeat="game in usersGames" type="item-text-wrap" href="#/tab/game/{{game.id}}">
		        <div class="fb-listitem">
			        <div class="gameListItem fb-listitem">{{game.name}}</div>
			        <div class="gameListItem fb-listitem"><div class="text-float-right">{{game.players.size}}</div></div>
		    	</div>
	    	</ion-item>
	    </div>

	    
	    <div class="game-menu-toggle-item">
			<div class="gameListItem">Games you can join</div>
			<div class="gameListItem"><div class="text-float-right ion-chevron-down"></div></div>
		</div>
	    <div class="gameListHead" ng-class="{'text-night': nightmode()}">
	  		<div class="gameListItem">Name</div>
			<div class="gameListItem"><div class="text-float-right">Players</div></div>
		</div>
	    <ion-list>
	    	<ion-item ng-class="{'text-night': nightmode()}" ng-repeat="game in availableGames" type="item-text-wrap" href="#/tab/game/{{game.id}}">
		        <div>
			        <div class="gameListItem">{{game.name}}</div>
			        <div class="gameListItem"><div class="text-float-right">{{game.players}}/?</div></div>
		    	</div>
	    	</ion-item>
	    </ion-list>
	</ion-content>
</ion-view>