<ion-view title="Games">
	<ion-content padding="true">
		<ion-nav-buttons side="right">
			<button class="button icon ion-plus" ng-click="createGame()"></button>
	    </ion-nav-buttons>


		<div class="game-menu-toggle-item" ng-click="gameList.user = !gameList.user">
			<div class="gameListItem">Games you are in</div>
			<div class="gameListItem">
				<div ng-hide="gameList.user" class="text-float-right ion-chevron-up"></div>
				<div ng-show="gameList.user" class="text-float-right ion-chevron-down"></div>
			</div>
		</div>
		
		<div class="list list-container" ng-show="gameList.user">
	    	<ion-item class="fb-listitem" ng-repeat="game in usersGames" type="item-text-wrap" href="#/tab/game/{{game.id}}">
		        <div>
			        <div class="gameListItem">{{game.name}}</div>
			        <div class="gameListItem"><div class="text-float-right ion-close closeButton" ng-click="$event.preventDefault();leaveGame(game.id)"></div></div>
		    	</div>
	    	</ion-item>
	    </div>

	    
	    <div class="game-menu-toggle-item" ng-click="gameList.rest = !gameList.rest">
			<div class="gameListItem">Games you can join</div>
			<div class="gameListItem">
				<div ng-hide="gameList.rest" class="text-float-right ion-chevron-up"></div>
				<div ng-show="gameList.rest" class="text-float-right ion-chevron-down"></div>
			</div>
		</div>

		<div class="list list-container" ng-show="gameList.rest">
	    	<ion-item class="fb-listitem" ng-repeat="game in availableGames" type="item-text-wrap" href="#/tab/game/{{game.id}}">
		        <div>
			        <div class="gameListItem">{{game.name}}</div>
			        <div class="gameListItem"><div class="text-float-right">{{game.players}}/8</div></div>
		    	</div>
	    	</ion-item>
		</div>
	</ion-content>
</ion-view>