<ion-view title="Current game sessions">
	<ion-content>
	  	<div class="fb-button" ng-click="reload()">Reload</div>
	  	<div id="gameListHead">
	  		<div class="gameListItem">Gamename</div>
			<div class="gameListItem"><div class="text-float-right">Players</div></div>
		</div>
	    <ion-list>
	    	<ion-item ng-repeat="game in games" type="item-text-wrap" href="#/tab/game/{{game.id}}">
		        <div>
			        <div class="gameListItem">{{game.name}}</div>
			        <div class="gameListItem"><div class="text-float-right">{{game.players}}/4</div></div>
		    	</div>
	    	</ion-item>
	    </ion-list>
	</ion-content>
</ion-view>