<ion-view title="Icy Balcony against humanity">
  <ion-content class="padding">
  	<ion-nav-buttons side="right">
  		<i ng-show="dash.connected" class="button-icon icon ion-ios7-infinite-outline"></i>
    </ion-nav-buttons>

    <div id="welcome-dash-container">
	    <div class="welcome-dash" ng-hide="dash.hasUsername">
		    <h3>Please enter a username</h3>
		    <form role="form">
				<div>
				    <input ng-model="dash.checkname" type="text" class="fb-basic fb-text-input" id="name" placeholder="Enter name">
				</div>
			</form>
			<div class="fb-basic fb-button fb-name-button" ng-click="dash.checkUsername()">Connect</div>
			<div id="dash-stat" class="statusfield error">{{errormsg}}</div>
		</div>

		<div class="welcome-dash" id="welcome" ng-show="dash.hasUsername">
		    <h3>Welcome {{dash.checkname}}</h3>
		    <p>Use the menu to find games or settings</p>
		    <p>This project was developed by Tomas Hasselquist</p>
		</div>
	</div>

	<div class="center motd">
		{{dash.motd}}
	</div><br>

	<div class="center">
		This app is an implementation based on the game Cards Against Humanity
		<br><br>
		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/2.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License</a>.
	</div>



  </ion-content>
</ion-view>