<ion-view title="Settings">
  <ion-content class="padding" ng-class="{'scrollable-night': nightmode()}">


	<!--<div class="card fb-settings-card">-->
	<h3>Change username</h3>
    <form role="form">
		<div>
		    <input ng-model="settings.currentName" type="text" class="fb-basic fb-text-input" id="name" placeholder="Enter name">
		</div>
	</form>
	<div class="fb-basic fb-button fb-name-button" ng-class="{'fb-button-night': nightmode()}" ng-click="settings.changeUsername()">Change name</div>

	<div id="settings-stat" class="statusfield error">{{errormsg}}</div>
	<!--</div>-->



  </ion-content>
</ion-view>
