/*---------Class declarations----------*/
.ion-chevron-down.ng-hide-add, .ion-chevron-up.ng-hide-add { 
  -webkit-animation:0.5s leaveRight ease; 
  animation:0.5s leaveRight ease; 
}

.welcome-dash.ng-hide-add {
  -webkit-animation:0.48s transitionOut linear; 
  animation:0.48s transitionOut linear; 
}

.welcome-dash.ng-hide-remove {
  -webkit-animation:1s delayedTransitionIn linear; 
  animation:1s delayedTransitionIn linear; 
}

.fb-tabs-container.ng-hide-remove {
  -webkit-animation:1s delayedTransitionIn linear; 
  animation:1s delayedTransitionIn linear; 
}

.notification.ng-hide-remove {
  -webkit-animation:1.5s showNotification linear; 
  animation:1.5s showNotification linear; 
}





/*---------Animations--------*/
/*----------Notify-----------*/

@-webkit-keyframes showNotification {
  0% {
    /*box-shadow: 0 0 3pt 2pt #ccccff;*/
    background-color:#FF0000;
  }

  90% {
    background-color:#FF0000;
  }

  100% {
    box-shadow: none;
    background-color:default;
  }
}

@keyframes showNotification {
  0% {
    /*box-shadow: 0 0 3pt 2pt #ccccff;*/
    background-color:crimson;
    color: #DDDDDD;
  }

  90% {
    background-color:crimson;
    color: #DDDDDD;
  }

  100% {
    box-shadow:none;
    background-color:default;
    color: default;
  }
}

/*-----Expand cards--------*




/*------Enter and leave------*/

@-webkit-keyframes leaveRight {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes leaveRight {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes enterLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes delayedEnterLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayedEnterLeft {
  0% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: default;
    opacity: 1;
  }
}

@-webkit-keyframes leaveBottom {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}

@keyframes leaveBottom {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
  }
}

@-webkit-keyframes transitionIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes delayedTransitionIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayedTransitionIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes transitionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes delayedTransitionOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes delayedTransitionOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}