.scroll-content {
	background-color: white;
	background: linear-gradient(#000 30%, #B20047 60%, #ef4e3a 99%) repeat scroll 0% 0% transparent;
	color: #fff;
}

.scrollable-night {
	background-color: #444;
}



.text-night {
	color:#ccc;
}

.fb-navbar {
	background-color:#000 !important;
	border-bottom: none;
}

.fb-tabs {
	background-color: red !important;
}

.statusfield {
	text-align: center;
	margin-top: 1em;
	color:black;
}

.error {
	/*color:red;*/
}

.fb-basic {
	border-radius: 0.2em !important;
	background-color: white;
}

.fb-button {
	cursor:pointer;
	display: inline-block;
	margin-top: 1em;
	padding: 0.3em 1em;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
	background-color: #444;
	color:#fff;
}

.fb-button:hover {
	background-color:#ccc;
}

.fb-button-night {
	background-color: #ccc;
	color:#444;
}

.fb-button-night:hover {
	background-color:#888;
	color:#ccc;
}

.fb-name-button {
	padding-top:0.2em;
	height: 2em;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width:100%;
}

.button {
	border: none !important;
}

.fb-text-input {
	font-size: 1em !important;
	padding: 0em 1em !important;
	border: 1px solid #ddd !important;
	height: 2em !important;
	color:#666 !important;

	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.fb-text-input:focus {
	border-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

.input-night {
	color:#ccc !important;
	border-color: #000 !important;
	background-color:#444;
}

.fb-settings-toggle-item {
	border: none;
}

.fb-settings-toggle-item > .toggle input:checked + .track {
    background-color: #8a6de9;
    border-color: #8a6de9;
}

.fb-settings-card {
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 0;
}

#welcome {
	text-align: center;
}

.gameListHead {
	font-size:1.2em;
	margin-top:1.2em;
	padding-left:1em;
	height:2em;
}

.gameListItem {
	width:50%;
	float:left;
}

.test {
	width:40%;
	float:left;
}

.game-menu-toggle-item {
	padding: 1em;
	height:3em;
}

table,td,tr {
	text-align:center;
	vertical-align: middle;
	overflow: hidden;
	background-color:#444;
	color:#fff;
}

table#playerViewTable {
	width:100%;
	table-layout: fixed;
}

tr.indicatorTr {
	height:0.5em;
	background-color:green;
}

tr.playerViewTr {
	height:2em;
}

.selectingCard {
	background-color: #FF0066;
}

.isCzar {
	background-color: #FFCC00;
}

#card-container{
	margin-top:1em;
}

.card, .notification {
	width: 100%;
	min-height:2em;
	margin-top:0.5em;
	text-align: center;
}

.card {
	background-color:#ddd;
	color:#444;
}

.notification {
	background-color:#FFCC00;
	color:#444;
}

.black-card {
	background-color: #444;
	color:#fff;
	margin-top:1em;
}

.black-card-night {
	background-color:#000;
}

.clickedCard {
	background-color: #aaa;
}

.selectedCard {
	background-color: #00CCFF;
}

.text-float-right {
	position:absolute;
	right:0;
	margin-right:2em;
}
