.scroll-content {
	background: #222; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 20%, #555555 80%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#000000), color-stop(80%,#555555), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 20%,#555555 80%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 20%,#555555 80%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 20%,#555555 80%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 20%,#555555 80%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	
	color: #fff;
}

.scroll{
	min-height: 100%;
}

div,p,h1,h2,h3,h4,h5 {
	color: #fff;
}

div.center {
	text-align: center;
}

div.motd {
	color: #FFCC00;
}

a {
	color: #ddd;
}

a:visited {
	color: #666;
}


.info-background {
	position:fixed;
	width:100%;
	height:100%;
	z-index:5;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.85);
}

#global-info-msg {
	font-size:1.5em;
	width:100%;
	height:auto;
	margin-top:1em;
}

#global-info-msg div {
	width:100%;
	margin-bottom:1em;
	margin-left:1em;
	padding-right:1em;
}

#chat-window {
	position: fixed;
	z-index:3;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(66,66,66,0.95);
}

#chat-window-msgs {
	top:0;
	left:0;
	height:calc(100% - 3em);
	width:100%;
	position:fixed;
}

#chat-window-msgs div{
	color:#dddddd;
	margin-left:0.2em;
	margin-top:0.2em;
}

#chat-window-write {
	position:fixed;
	bottom:0;
	left:0;
	height:3em;
	width:100%;
	background-color:#fff;
}

#chat-window-write input {
	font-size: 1em;
	height: 100%;
	width:calc(100% - 3em);
	color:#fff;
	background-color: #222;
	padding: 0em 1em;
	position:relative;
	float:left;
	border:none;
}

#chat-window-write div {
	position:relative;
	float:left;
	height:100%;
	font-size:1.5em;
	width:2em;
	line-height: 1.92em;
	padding-left:0.15em;
	color:#dddddd;
	text-align: center;
	background-color:#222;
	border-radius: 0em;
}

.unreadMsg {
	color:#FF7519 !important;
}

.fb-navbar {
	background-color:#000 !important;
	border-bottom: none;
}

.text-float-right {
	position:absolute;
	right:0;
	margin-right:2em;
}

.statusfield {
	text-align: center;
	margin-top: 1em;
	color:black;
}

.error {
	/*color:red;*/
}

.fb-basic {
	border-radius: 0.2em !important;
	background-color: white;
}

.fb-button {
	cursor:pointer;
	display: inline-block;
	margin-top: 1em;
	padding: 0.3em 1em;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075);
	background-color: #444;
	color:#fff;
}

.fb-button:hover {
	background-color:#ccc;
}

.fb-name-button {
	padding-top:0.2em;
	height: 2em;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width:100%;
}

.button {
	background-color: transparent !important;
	border: none !important;
}

.fb-text-input {
	font-size: 1em !important;
	padding: 0em 1em !important;
	border: 1px solid #ddd !important;
	height: 2em !important;
	color:#666 !important;

	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.fb-text-input:focus {
	border-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 0, 0, 0.6);
    outline: 0 none;
}

.fb-settings-toggle-item {
	border: none;
}

.fb-settings-toggle-item > .toggle input:checked + .track {
    background-color: #8a6de9;
    border-color: #8a6de9;
}

.fb-settings-card {
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 0;
}

.welcome-dash {
	text-align: center;
	position:relative;
	width:100%;
}

#welcome-dash-container {
	position: relative;
	height:12em;
	width:100%;
	overflow: hidden;
}

.item {
	border-left: none;
	border-right: none;
	background-color: #222;
	background-color: transparent;
}

.item .item-content {
	background-color: #222;
	background-color: transparent;
}

.gameListHead {
	font-size:1.2em;
	margin-top:1.2em;
	padding-left:1em;
	height:2em;
}

.gameListItem {
	width:40%;
	float:left;
}

.closeButton {
	font-size:1.3em;
	margin-right: 0;
	top:-16px;
	height: calc(100% + 16px);
	width: 3em;
	text-align:center;
	line-height:4em;
}

.closeButton .ion-close {
	padding-top:16px;
}

.list-container {
	transition: height 1s transform 1s;
}

.fb-listitem:first-child{
	border-top:none;
}

.statusNotDone {
	border-left: 0.5em solid #FF0000;
}

.statusDone {
	border-left: 0.5em solid #00FF00;

}

.game-menu-toggle-item {
	background-color: rgba(255, 255, 255, 0.15);
	padding: 1em;
	height:3.5em;
}


table,td,tr {
	text-align:center;
	vertical-align: middle;
	overflow: hidden;
	background-color:#444;
	color:#fff;
}

table#playerViewTable {
	width:100%;
	table-layout: fixed;
}

tr.indicatorTr {
	height:0.5em;
	background-color:green;
}

tr.playerViewTr {
	height:2em;
}

.selectingCard {
	background-color: #FF0066;
}

.isCzar {
	background-color: #FFCC00;
}

.card-container{
	margin-top:1em;
	position:relative;

}



div.card-container div.card {
	position:absolute;
	height:3.2em;
	display:table;
	padding-right:1em;
}

div.card span {
	display:table-cell;
	vertical-align: middle;
}

div.card-container div.card:first-child {
	top:0;
}

div.card-container div.card:nth-child(2) {
	top:4em;
}

div.card-container div.card:nth-child(3) {
	top:8em;
}

div.card-container div.card:nth-child(4) {
	top:12em;
}

div.card-container div.card:nth-child(5) {
	top:16em;
}

div.card-container div.card:nth-child(6) {
	top:20em;
}

div.card-container div.card:nth-child(7) {
	top:24em;
}

div.card-container div.card:nth-child(8) {
	top:28em;
}

.card, .notification {
	width: 100%;
	min-height:2em;
	margin-top:0.5em;
	text-align: center;
}

.card {
	background-color:#eee;
	color:#444;
}

.half-card-container {
	width:100%;
	position:relative;
	min-height:2em;
	margin-top:1.5em;
	margin-bottom:2em;
}

.relative-card {
	border-radius: 0px;
	width: 100%;
	min-height:2em;
	margin-top:1em;
	text-align: center;
	background-color:#eee;
	color:#444;
}

.half-card {
	width:50%;
	color:#444;
	margin-top:0;
	position:absolute;
}

.half-card-test {
	width:50%;
	text-align: center;
	background-color:#eee;
	color:#444;
	margin-top:0;
	position:relative;
	float:left;
	height:3em;
	line-height: 3em;
	border-top: 1px solid #CCCCCC;
}

.half-card-test:first-child, .half-card-test:nth-child(2) {
	border-top:none;
}

.half-card-test:nth-child(odd) {
	border-right: 1px solid #CCCCCC;
}

.half-card-right {
	border-radius: 0 0.2em 0.2em 0;
	right:0;
}

.half-card-left {
	border-radius: 0.2em 0 0 0.2em;
}

.notification {
	background-color:#FFCC00;
	color:#444;
}

.white-card {
}

.black-card {
	background-color: #444;
	color:#fff;
	margin-top:1em;
}

.black-card-night {
	background-color:#000;
}

.clickedCard {
	/*background-color: #aaa;*/
	box-shadow: 0 0 2pt 1.5pt #00CCFF;
}

.selectedCard {
	background-color: #00CCFF;
}

.redColor {
	color: #FF0000;
}

.greenColor {
	color: #00FF00;
}
